@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  width: 100vw;
  height: fit-content;
  display: grid;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}
:root {
  --white: #faf7f0;
  --brown-low: #d8d2c2;
  --brown: #b17457;
  --brown-1: rgb(177, 116, 87, 0.8);
  --brown-2: rgb(177, 116, 87, 0.6);
  --black: #4a4947;
  --black-low: rgb(74, 73, 71, 0.3);
  --red: #ff2323;
  --red-dark: #d70000;
}

.error-font {
  color: var(--red);
}

h1 {
  font-size: 61px;
  font-weight: 800;
}
h2 {
  font-size: 49px;
  font-weight: 500;
}
h3 {
  font-size: 39px;
  font-weight: 700;
}
h4 {
  font-size: 31px;
  font-weight: 500;
}
h5 {
  font-size: 25px;
  font-weight: 500;
}
h6 {
  font-size: 20px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 500;
}
.cek {
  width: 15px;
  height: 15px;
}
.cek::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--black-low);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cek-on::after {
  content: url("./check.svg");
  background-color: var(--brown);
}
.loading1 {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: rgb(255, 255, 255, 0.1);
  z-index: 10;
  backdrop-filter: blur(3px);
}
.loading1 img {
  width: 70px;
  place-self: center;
  animation: loading 1s linear infinite;
}

.loading2 {
  width: 100%;
  height: 50%;
  display: grid;
}
.loading2 img {
  width: 70px;
  place-self: center;
  animation: loading 1s linear infinite;
}
.loading3 {
  width: 100%;
  height: 50%;
  display: grid;
  height: calc(100vh - 80px);
}
.loading3 img {
  width: 70px;
  place-self: center;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: -150px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: default;
}
.message-on {
  top: 50px;
  transition: 0.5s;
}
.container {
  width: clamp(1px, 100%, 1440px);
  height: fit-content;
  min-height: calc(100vh - 80px);
  place-self: center;
}

/* navbar___________________________ */
.navbar-in {
  width: 100%;
  height: 80px;
}
.navbar-container {
  border: 2px solid white;
  width: 100%;
  height: 80px;
  position: fixed;
  display: grid;
  z-index: 2;
  background-color: rgba(246, 246, 246, 0.5);
  backdrop-filter: blur(7px);
}

.navbar {
  width: clamp(1px, 100%, 1440px);
  height: 100%;
  place-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 250px;
  justify-content: space-between;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  cursor: pointer;
  display: block;
  width: 60px;
  text-align: center;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  display: block;

  width: 60px;
  height: 22px;
}
.navbar ul li a:hover::before {
  animation: navbar-animation 0.2s linear;
  border-bottom: 3px solid var(--black);
}
@keyframes navbar-animation {
  0% {
    width: 0;
  }
  100% {
    width: 60px;
  }
}
.n-menu {
  width: 250px;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.n-menu a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: var(--black);
}
.n-menu a:hover {
  text-decoration: underline;
}
.n-menu button {
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
.n-menu button:first-child {
  border: none;
  background-color: transparent;
  transition: 0.3s;
  position: relative;
}
.n-menu button:first-child:hover {
  background-color: white;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  transition: 0.3s;
}
.n-menu button:nth-child(2) {
  border: 2px solid var(--black-low);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.n-menu button:nth-child(2):hover {
  border: 2px solid var(--brown);
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  transition: 0.3s;
}
.cart-dot {
  width: 17px;
  height: 17px;
  font-size: 11px;
  background-color: var(--red);
  position: absolute;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0px;
}

.navbar-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  transition: 0.3s;
  pointer-events: none;
}
.navbar-bg-on {
  background-color: rgb(0, 0, 0, 0.4);
  pointer-events: fill;
  transition: 0.3s;
}

/* cart */
.navbar-cart {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transform: translateX(500px);
  transition: 0.5s;
}
.navbar-cart-on {
  transform: translateX(0);
  transition: 0.5s;
}
.n-c-head {
  background-color: var(--white);
  width: 100%;
  height: 90px;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.n-c-body {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
  box-shadow: -4px 4px 12px rgb(0, 0, 0, 0.2);
}
.n-c-footer {
  position: absolute;
  width: 100%;
  height: fit-content;
  padding: 20px;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 0px -4px 6px rgb(0, 0, 0, 0.1);
}
.n-c-footer span {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.n-c-footer button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--brown);
  color: var(--white);
  border: transparent;
  border-radius: 3px;
  cursor: pointer;
}
.n-c-footer button:hover {
  background-color: var(--brown-1);
}
.n-c-footer button:active {
  background-color: var(--brown-2);
}
.n-c-b-list {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: default;
}

.n-c-b-list:hover {
  background-color: white;
}
.n-c-b-l-img {
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}
.n-c-b-l-img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.n-c-b-l-a-delete {
  padding: 3px;
  background-color: var(--red);
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
  border: transparent;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}
.n-c-b-l-action {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  height: 100%;
  justify-content: space-between;
  align-items: end;
}
.n-c-b-l-action span {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.n-c-b-l-a-p {
  font-weight: 700;
}
.n-c-b-l-a-delete:hover {
  background-color: var(--red-dark);
}
.n-c-b-l-a-quantity {
  display: flex;
  width: 90px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--black-low);
  border-radius: 30px;
  padding: 5px;
}
.n-c-b-l-a-quantity button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.n-c-b-l-a-quantity button:hover {
}

.hel {
  opacity: 30%;
  pointer-events: none;
}

.n-c-b-l-desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 10px;
}
/* profile */
.navbar-profile {
  position: fixed;
  min-width: 330px;
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  background-color: white;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  top: 65px;
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.n-p-head {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: -25px;
}
.n-p-head img {
  border: 3px solid var(--black);
  width: 70px;
  border-radius: 50%;
  background-color: rgb(192, 192, 192);
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}
.n-p-bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.n-p-bottom button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.n-p-bottom button:first-child {
  border: 3px solid var(--black-low);
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  transition: 0s;
}
.n-p-bottom button:first-child:hover {
  border: 3px solid var(--black);
  transition: 0s;
  box-shadow: none;
}
.n-p-bottom button:last-child {
  border: 3px solid transparent;
  background-color: var(--red);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  transition: 0s;
}
.n-p-bottom button:last-child:hover {
  background-color: var(--red-dark);
  transition: 0s;
  box-shadow: none;
  border: 3px solid transparent;
}
.n-p-close {
  position: absolute;
  left: -13px;
  top: -16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--black-low);
  cursor: pointer;
}
.n-p-close:hover {
  color: var(--black);
  box-shadow: none;
}
/* navbar responsive_________________________ */

/* footer____________________________________ */
.footer-container {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--black-low);
}
.footer {
  width: clamp(1px, 100%, 1440px);
  height: fit-content;
}
.f-head {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 50px 0;
}
.f-head ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.f-head ul li a {
  font-size: 16px;
  color: var(--black);
  text-decoration: none;
}
.f-head ul li a:hover {
  text-decoration: underline;
}
.f-h-news {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.f-h-news input {
  height: 40px;
  width: 100%;
  padding: 0 5px;
  font-size: 16px;
  border: 2px solid var(--black-low);
  border-radius: 3px;
}
.f-h-news button {
  width: 100%;
  height: 40px;
  background-color: var(--brown);
  border: transparent;
  border-radius: 3px;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
}
.f-h-news button:hover {
  background-color: var(--brown-1);
}
.f-bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.f-bottom span {
  display: flex;
  gap: 10px;
}
